/* 공통 디자인 */
div[class^=step] {
    display:flex; flex-flow: column nowrap; gap:16px;
    padding:50px 20px;
}
button {background: #eee; padding:20px 5px;}
/* 개별 디자인 */
.step1 #btn1 { /* 태그에 대한 기본 상태 디자인 */
    background:#ff0; 
    color: #f00;
    font-weight:700;
    border-radius:5px;
    /* 상태에 따라 스타일이 변결될 때 애니메이션을 주고 싶으면 트랜지션 적용 */
    transition:
    background 0.5s, 
    border-radius 2s,
    color 0.8s,
    font-weight 1s;
    /* background 속성이 상태 디자인에 의해 변경될때 0.5초 동안 속성에 애니메이션을 적용 */
}
.step1 #btn1:hover { /* 태그에 마우스를 올렸을 때 상태 디자인 */
    background:#0ff;
    border-radius:60px;
    color:#000;
    font-weight: 800;
}
/* ------------------------------쇼핑몰 상품 형식 애니메이션 연습 */
.step1 .item {
    width:360px;
    background: #f5f5f5; padding:7px; 
}
.step1 .item .photo {
    height:400px;
    overflow:hidden;
}
.step1 .item .photo img {
    width:100%;
    transition:width 1s;
}
.step1 .item:hover .photo img{/* a에 올렸을때 img 변경*/
    width:110%;
}
.step1 .item h1 {}
.step1 .item p {}

.step1 .sale {
    width:360px;
    background:#f5f5f5; padding:7px;
}
.step1 .sale .photo {
    height:400px; overflow:hidden;
}
.step1 .sale .photo img {
    width:100%;
    transition: width 1s;
}
.step1 .sale:hover .photo img {
    width:105%;
}
.step1 .sale .color_chip {display: flex;}
.step1 .sale .color_chip span {width:12px; height:12px;}
.step1 .sale .color_chip .color1 {background:beige; border:1px solid #888}
.step1 .sale .color_chip .color2 {background: black;}
.step1 .sale h1 {}
.step1 .sale .price {}